.colorify {
    fill: #dc143c;
    
}


.seg {
    fill: crimson;
    fill-opacity: 0.3;
}

/* .digit-1 .  */

.digit-1 .seg11,
.digit-1 .seg3,
.digit-1 .seg8,
.digit-1 .seg10, 
.digit-1 .seg13, 
.digit-1 .seg14, 
.digit-1 .seg22, 
.digit-1 .seg23, 
.digit-1 .seg28, 
.digit-1 .seg29
{
    fill: #dc143c;
}

.digit-2 .seg2,
.digit-2 .seg3,
.digit-2 .seg5, 
.digit-2 .seg6,
.digit-2 .seg9,
.digit-2 .seg12,
.digit-2 .seg16,
.digit-2 .seg19,
.digit-2 .seg14,
.digit-2 .seg22,
.digit-2 .seg24,
.digit-2 .seg34,
.digit-2 .seg27,
.digit-2 .seg28,
.digit-2 .seg29,
.digit-2 .seg30,
.digit-2 .seg31,
.digit-2 .seg33{
    fill: #dc143c;   
}

.digit-3 .seg1,
.digit-3 .seg2,
.digit-3 .seg3,
.digit-3 .seg4,
.digit-3 .seg5,
.digit-3 .seg6,
.digit-3 .seg9,
.digit-3 .seg10,
.digit-3 .seg14,
.digit-3 .seg16,
.digit-3 .seg19,
.digit-3 .seg21,
.digit-3 .seg25,
.digit-3 .seg30,
.digit-3 .seg31,
.digit-3 .seg29,
.digit-3 .seg28,
.digit-3 .seg27,
.digit-3 .seg26{
    fill: #dc143c;   
}

.digit-4 .seg3,
.digit-4 .seg4,
.digit-4 .seg5,
.digit-4 .seg6,
.digit-4 .seg8,
.digit-4 .seg9,
.digit-4 .seg12,
.digit-4 .seg11,
.digit-4 .seg15,
.digit-4 .seg13,
.digit-4 .seg14,
.digit-4 .seg19,
.digit-4 .seg16,
.digit-4 .seg19,
.digit-4 .seg18,
.digit-4 .seg21,
.digit-4 .seg25,
.digit-4 .seg30,
.digit-4 .seg31,
.digit-4 .seg33
{
    fill: #dc143c; 
}


.digit-5 .seg1,
.digit-5 .seg2,
.digit-5 .seg3,
.digit-5 .seg4,
.digit-5 .seg5,
.digit-5 .seg6,
.digit-5 .seg7,
.digit-5 .seg11,
.digit-5 .seg15,
.digit-5 .seg13,
.digit-5 .seg14,
.digit-5 .seg16,
.digit-5 .seg19,
.digit-5 .seg21,
.digit-5 .seg25,
.digit-5 .seg31,
.digit-5 .seg30,
.digit-5 .seg29,
.digit-5 .seg28,
.digit-5 .seg27,
.digit-5 .seg26
{
    fill: #dc143c; 
}


.digit-6 .seg3,
.digit-6 .seg5,
.digit-6 .seg8,
.digit-6 .seg11,
.digit-6 .seg15,
.digit-6 .seg13,
.digit-6 .seg14,
.digit-6 .seg16,
.digit-6 .seg19,
.digit-6 .seg21,
.digit-6 .seg20,
.digit-6 .seg24,
.digit-6 .seg25,
.digit-6 .seg31,
.digit-6 .seg30,
.digit-6 .seg29,
.digit-6 .seg28,
.digit-6 .seg27,
.digit-6 .seg26
{
    fill: #dc143c; 
}


.digit-7 .seg1,
.digit-7 .seg2,
.digit-7 .seg3,
.digit-7 .seg4,
.digit-7 .seg5,
.digit-7 .seg6,
.digit-7 .seg9,
.digit-7 .seg10,
.digit-7 .seg14,
.digit-7 .seg16, 
.digit-7 .seg22,
.digit-7 .seg24,
.digit-7 .seg27,
.digit-7 .seg28,
.digit-7 .seg34{
    fill: #dc143c;   
}



.digit-8 .seg2,
.digit-8 .seg3,
.digit-8 .seg5,
.digit-8 .seg6,
.digit-8 .seg7,
.digit-8 .seg9,
.digit-8 .seg11,
.digit-8 .seg12,
.digit-8 .seg15,
.digit-8 .seg13,
.digit-8 .seg14,
.digit-8 .seg16,
.digit-8 .seg19,
.digit-8 .seg21,
.digit-8 .seg20,
.digit-8 .seg24,
.digit-8 .seg25,
.digit-8 .seg31,
.digit-8 .seg30,
.digit-8 .seg29,
.digit-8 .seg28,
.digit-8 .seg27,
.digit-8 .seg26
{
    fill: #dc143c; 
}



.digit-9 .seg2,
.digit-9 .seg3,
.digit-9 .seg5,
.digit-9 .seg6,
.digit-9 .seg7,
.digit-9 .seg9,
.digit-9 .seg11,
.digit-9 .seg12,
.digit-9 .seg15,
.digit-9 .seg13,
.digit-9 .seg14,
.digit-9 .seg16,
.digit-9 .seg18,
.digit-9 .seg19,
.digit-9 .seg21,
.digit-9 .seg23,
.digit-9 .seg29,
.digit-9 .seg30
{
    fill: #dc143c; 
}


.digit-0 .seg2,
.digit-0 .seg3,
.digit-0 .seg5,
.digit-0 .seg6,
.digit-0 .seg7,
.digit-0 .seg9,
.digit-0 .seg11,
.digit-0 .seg12,
.digit-0 .seg15,
.digit-0 .seg16,
.digit-0 .seg19,
.digit-0 .seg21,
.digit-0 .seg20,
.digit-0 .seg24,
.digit-0 .seg25,
.digit-0 .seg31,
.digit-0 .seg30,
.digit-0 .seg29,
.digit-0 .seg28,
.digit-0 .seg27,
.digit-0 .seg26
{
    fill: #dc143c; 
}


#display,
#display-1,
#display-2,
#display-3,
#display-4,
#display-5,
#display-6 {
    width: 150;
  }
  
.clock{
    display: flex;
    justify-content: center;
}